html, body {
  height: 100%;
  background-color: #F3F2F2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paginationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.paginationButtons a {
  border-radius: 12px;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
}

.paginationButtons a:hover {
  font-weight: bold;
}

.pagActive a {
  font-weight: bold;
}

.pagDisabled a {
  color: gray;
}

.pagDisabled a:hover {
  cursor: not-allowed;
  font-weight: normal
}


/* font-family: 'Source Serif Pro', serif; */