<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
    <h4> <%= @user.username %>, you have been invited to sign a card on Send It. </h4>
    <p>Log into your account to view the card and add your message. </p>
    </div>
  </body>
</html>