<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <table>
      <tr>
        <td style="width: 600px">
          <img src="https://i.ibb.co/x8gbSz6/Send-It-600-x-60-px.png" alt="send it" style="width: 600px">
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white;">
          <h3><%= @user.username %>, you have been invited to sign a card on Send It.</h3>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white; color: black; padding: 20px">
          <a href="https://send-it-cards.herokuapp.com/">Log into your account</a> to view the card and add your message.
        </td>
      </tr>
    </table>
    
  </body>
</html>