<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<style>
    body {
      font-family: 'Trebuchet MS', sans-serif;
      }
</style>
  </head>
  <body >
    <table  style="width: 100%; border: 0; cellspacing: 0; cellpadding: 0">
      <tr>
        <td style="width: 600px; text-align: center">
        <a href="https://send-it-cards.herokuapp.com/">
          <img src="https://i.ibb.co/x8gbSz6/Send-It-600-x-60-px.png" alt="send it" style="width: 600px">
        </a>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white; text-align: center">
          <h3>To: <%= @user_card.recipient_name %></h3>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white; text-align: center; margin: auto">
          <img src=<%=@template%>  style="margin: auto; width: 600px"/>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white; color: black; margin: auto; padding: 20px; text-align: center">
        <p style="margin: auto; width: 600px">
          <%= @user_card.message %>
          <br>
          <br>
          <%= @contributors %>
        </p>
        </td>
      </tr>
    </table>
  </body>
</html>




