<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<style>
    body {
      font-family: 'Trebuchet MS', sans-serif;
      }
    /* p {
      padding: 20px; 
      font-size: 2vh; 
      color: black
    } */
</style>
  </head>
  <body >
    <table>
      <tr>
        <td style="width: 600px">
        <a href="https://send-it-cards.herokuapp.com/">
          <img src="https://i.ibb.co/x8gbSz6/Send-It-600-x-60-px.png" alt="send it" style="width: 600px">
        </a>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white;">
          <h3>To: <%= @user_card.recipient_name %></h3>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white; border: solid 1px black;">
          <img src=<%=@template%>  style="margin: auto; width: 600px"/>
        </td>
      </tr>
      <tr>
        <td style="width: 600px; background-color: white; color: black; border: solid 1px black; padding: 20px">
          <%= @user_card.message %>
          <br>
          <%= @contributors %>
        </td>
      </tr>
    </table>
  </body>
</html>




