<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test email to <%= @user_card.recipient_name %></h1>
    <p><%=@template_url%></p>
    <img src=<%=@template_url%> />
  </body>
</html>